body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #000000;
  color: #fff;
}

p {
  font-size: 18px;
}

div#ahorcado {
  position: relative;
  text-align: center;
  width: 70%;
  height: 70%;
  margin-right: 28%;
  margin-top: 1%;
  margin-bottom: -10%;
}

div#ahorcado img {
  position: absolute;
}

div img#paisaje {
  width: 40%;
  border: 5px white solid;
  border-radius: 5%;
}

div img#horca {
  z-index: 1;
  width: 35%;
  margin-top: 1%;
  margin-left: 5%;
}

div img#ahorcado {
  width: 7%;
  z-index: 2;
  margin-left: 14%;
  margin-top: 2.5%;
}

#teclado {
  display: grid;
  background-color: rgb(216, 216, 216);
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 40%;
  height: 25%;
  margin: 20px auto;
  text-align: center;
  border: 10px ridge #ffffff;
  border-radius: 33px;
  padding: 1%;
}

#teclado input {
  border-radius: 5%;
  background-color: rgb(36, 36, 36);
  color: white;
}